{% extends 'base.html.twig' %}

{% block body %}
    <h1>Новое сообщение</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Сохранить" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Назад к списку</a>
        </li>
    </ul>
{% endblock %}
